<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit to Ojuz</title>
</head>
<body>
    <form action="" method="post">
        <p>Problem URL:</p> 
        <input type="text" name="problem_url" value="{{form["problem_url"]}}"/>
        <p>Solution code:</p>
        <textarea name="solution_code">{{form["solution_code"]}}</textarea>
        <input type="submit" value="Submit"/>
    </form>
    {% if submission_url %} <a href="{{submission_url}}">Click</a> {% endif %}
</body>
</html>